.MainHeader {
  width: 1200px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin: 0 auto;
  padding: 10px;

  .left_area {
    display: flex;
    align-items: center;
    gap: 20px;
    font-weight: bold;

    .logo_wrapper {
      cursor: pointer;
    }

    img {
      width: 30px;
      border-radius: 5px;
    }
    h1 {
      font-size: 25px;
    }
    ul {
      list-style-type: none;
      display: flex;
      gap: 20px;
      padding-left: 20px;

      li {
        padding-left: 20px;
      }

      .ACTIVE {
        color: #1070be;
      }
    }
  }
  .right_area {
    ul {
      display: flex;
      gap: 20px;
      list-style-type: none;

      font-weight: bold;
    }
  }
}
.MainHeader li {
  cursor: pointer;
}

.MainHeader li:hover {
  color: rgb(108, 108, 108);
}
