:root {
  --nav-height: 80px; /* nav의 높이를 변수로 지정 */
}

.nav_spacing {
  height: var(--nav-height); /* nav 높이와 동일하게 설정 */
}

.MainHeader {
  width: 100%;
  height: var(--nav-height);

  background-color: white;

  position: fixed; /* 화면에 고정 */
  top: 0; /* 상단에 위치 */
  left: 50%; /* 화면의 가운데 기준으로 위치 */
  transform: translateX(-50%); /* 자신의 너비만큼 왼쪽으로 이동 */
  z-index: 1000; /* 다른 요소보다 위에 오도록 */

  .header_wrapper {
    width: 1200px;
    height: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;

    margin: 0 auto;
    padding: 0 10px;

    .left_area {
      display: flex;
      align-items: center;
      gap: 20px;
      font-weight: bold;

      .logo_wrapper {
        cursor: pointer;
      }

      img {
        width: 30px;
        border-radius: 5px;
      }
      h1 {
        font-size: 25px;
      }
      ul {
        list-style-type: none;
        display: flex;
        gap: 20px;
        padding-left: 20px;

        li {
          padding-left: 20px;
        }

        .ACTIVE {
          color: #1070be;
        }
      }
    }
  }
  .right_area {
    ul {
      display: flex;
      gap: 20px;
      list-style-type: none;

      font-weight: bold;
    }
  }
}
.MainHeader li {
  cursor: pointer;
}

.MainHeader li:hover {
  color: rgb(108, 108, 108);
}
